html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  margin: 8px;
  color:black;
  background: linear-gradient(to bottom right, #EA8D8D  , #A890FE );
  border-radius: 10px;
	animation:slide 0.5s;
}

.container {
  padding: 0 16px;
  padding-top: 1px
}

.title {
  color: white;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
	}
}

.social:hover {
  transform: scale(1.3);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.social {
   width:60px;
   height:50px;
   padding-right:10px;
}

.maintext{
  position:absolute;
	margin-top: 80px;
  top:-50px;
  left:36.5%;
  animation:slide 0.8s forwards;
  text-align: center;

}

.bgtext{
  padding-bottom:100px;
}


@keyframes slide {
  0%{filter:blur(40px)}
  100%{ top:0; 
        filter:blur(0px);
      }
}